<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Inserimento utente</title>

	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		  crossorigin="anonymous">

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<style>
		body {
			background-color: lightblue;
		}

		.container {
			margin-top: 30px;
		}
	</style>
</head>
<body>

<div class="container">
	<h1 class="text-center mb-4">Registrazione utente Bancario</h1>

	<form action="#" th:action="@{/salvaUtente}" th:object="${utente}" method="POST">
		<div class="form-group row">
			<label for="nome" class="col-sm-3 col-form-label">Nome utente:</label>
			<div class="col-sm-6">
				<input required type="text" th:field="*{nome}" placeholder="Nome utente" class="form-control mb-4" id="nome">
			</div>
		</div>

		<div class="form-group row">
			<label for="cognome" class="col-sm-3 col-form-label">Cognome utente:</label>
			<div class="col-sm-6">
				<input required type="text" th:field="*{cognome}" placeholder="Cognome utente" class="form-control mb-4" id="cognome">
			</div>
		</div>

		<div class="form-group row">
			<label for="dataNascita" class="col-sm-3 col-form-label">Data di nascita:</label>
			<div class="col-sm-6">
				<input type="date" th:field="*{dataNascita}" class="form-control mb-4" id="dataNascita">
			</div>
		</div>

		<div class="form-group row">
			<label for="cf" class="col-sm-3 col-form-label">Codice fiscale:</label>
			<div class="col-sm-6">
				<input required type="text" th:field="*{cf}" placeholder="Codice fiscale" class="form-control mb-4" id="cf">
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-6 offset-sm-3">
				<button type="submit" class="btn btn-info btn-block">Salva utente bancario</button>
			</div>
		</div>
	</form>

	<div class="text-center mt-4">
		<a th:href="@{/}" class="btn btn-success">Torna alla lista degli utenti</a>
	</div>
</div>

</body>
</html>
