<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Prelievo</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- W3CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    <style>
        body {
            background-color: lightblue;
        }

        .container {
            margin-top: 30px;
        }

    </style>
</head>
<body>

<div class="container">
    <h1 class="text-center">Prelievo</h1>

    <form action="#" th:action="@{/salvaPrelievo}" th:object="${conto}" method="POST">
        <input type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label for="numeroConto">Numero conto</label>
            <input readonly type="text" th:field="*{numeroConto}" class="form-control mb-4 col-4" id="numeroConto">
        </div>

        <div class="form-group">
            <label for="prelievo">Quanto vuoi prelevare?</label>
            <input required type="number" name="numero" th:max="*{saldo}" class="form-control mb-4 col-4" id="prelievo"
                   min="1">
        </div>

        <div class="form-group">
            <label for="saldoAttuale">Conto attuale :</label>
            <input readonly type="number" th:field="*{saldo}" class="form-control mb-4 col-4" id="saldoAttuale">
        </div>

        <input type="hidden" th:field="*{utentebancario}"/>

        <button type="submit" class="btn btn-info col-2">Preleva</button>
        <a th:href="@{/}" class="w3-button w3-green">Torna alla lista degli utenti</a>
    </form>
</div>

</body>
</html>
